.container
  %h2 BitCoin Prices
  .standard-block.animated-list-item{"ng-repeat" => "bitcoin_price in bitcoin_prices"}
    %pre USD: {{bitcoin_price.USD.rate | number: 2}}
    %pre GBP: {{bitcoin_price.GBP.rate | number: 2}}
    %pre EUR: {{bitcoin_price.EUR.rate | number: 2}}
